/* Global Styles */
:root {
    /* Base color*/
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-blue: #357EFE;
    --color-dark-grey: #1A1D25; /* Footer */
    --color-green-label: #1ABC9C;

    /* Text color*/
    --color-text-grey: #A6AEBD;
    --color-text-op-50: #8C8E92;
    --color-text-op-70: #BABBBE;
    --color-text-op-80: #D7E5FF;
    --color-border-feature: #F1F2F5;
}

html { font-size: calc(0.000027758501041086348rem + 0.8333102012491325vw);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width:1920px) { html { font-size: calc(0.000027758501040975325rem + 0.8333102012491325vw); } }
@media screen and (max-width:479px) { html { font-size: calc(0.00007512019230748734rem + 4.266346153846155vw); } }
@media screen and (max-width:375px) { html { font-size: calc(-0.00267379679144385rem + 4.27807486631016vw); } }


body {
    margin: 0;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2;
    background-color: var(--color-white);
    color: var(--color-black);
}

* {
    box-sizing: border-box;
}

.section {
    display: block;
}

.padding-global {
    padding-left: 16.5rem;
    padding-right: 16.5rem;
}

.container {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: auto auto;
}

a {
    text-decoration: none;
}

svg {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Margins */

.margin-bottom-24 {
    margin-bottom: 1.5rem;
}

.margin-bottom-40 {
    margin-bottom: 2.5rem;
}

/*********************************************/
/************** Mobile Adaptive **************/
/*********************************************/

@media (max-width: 479px) {

    .padding-global {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}